/* mulish-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* mulish-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* mulish-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: Mulish, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 18px;
    min-width: 320px;
    min-height: 100vh;
    background: #f8e8e2 url('../img/bg.svg') no-repeat top/contain;
    color: #000;
    overflow-x: hidden;
}

  button {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h1, h2, h3, p, fieldset {
    margin: 0;
  }

  .container {
    --width: 1180px;
    --padding: 30px;
    max-width: calc(var(--width) + var(--padding) * 2);
    padding: 0 var(--padding);
    margin: 0 auto;
  }

  .btn {
    border-radius: 40px;
    background:  #F44;
    box-shadow: 0px 4px 20px 0px #FA5A5A;
    color: #fff;
    padding: 12px 28px;
  }

  .btn:hover:not(:disabled) {
    background-color: #ff6767;
  }
  
  .btn:active:not(:disabled) {
    background-color: #52e36a;
    box-shadow: 0px 4px 20px 0px #52e36a;
  }
  
  .btn:focus:not(:disabled) {
    border-color: #d5b4a8;
  }
  
  .btn:disabled {
    background-color: #c1c1c1;
    box-shadow: none;
  }

  .text-red {
    color: #f44;
  }
/* header */

.header {
    padding: 36px 0;  
}
.header__container {
display: flex;
justify-content: space-between;
align-items: center;
}

.header__btns {
    display: flex;
    align-items: center;
}

.header__btn-order {
  position: relative;
margin-right: 32px;
width: 24px;
height: 24px;
}

.header__btn-order::after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  color: #fff;
  background-color: #f44;
  border: 2px solid #f8e8e2;
  border-radius: 50%;
  line-height: 16px;
}

.header__btn-order[data-count="0"]::after {
  display: none;
}

.header__btn {
    display: block;
}

/* === hero ====*/ 

.hero {
    padding: 30px 0 85px;
    /*overflow-x: hidden;*/
}

.hero__container {
  position: relative;
}

.hero__title {
font-size: 84px;
font-weight: 900;
max-width: 880px;
}

.hero__cups {
    display: flex;
    gap: 20px;
    padding-top: 270px;
    align-items: flex-end;
}

.hero__cup {
width: 100%;
aspect-ratio: 1/1; /*соотношение сторон*/
border-radius: 24px;
position: relative;
} 

.hero__cup_pink {
    background: #FF196C;
}

.hero__cup_orange {
    background: #FFB72A; 
    margin-top: -70px;
    align-self: flex-start;
}
.hero__cup_green {
    background: #34B905;
}
.hero__img {
    position: absolute;
    width: 55%;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
}

/* == goods ===*/

.goods {
    padding: 60px 0 70px;
}
.goods__title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 40px;
}

.goods__list {
display: grid;
grid-template-columns: repeat(4, 280px);
gap: 20px;
}

.cocktail {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: #FFF;  
    padding: 12px;
    height: 100%;
}
.coctail__img {
    border-radius: 24px;
    width: 100%;
}
.cocktail__content {
    flex-grow: 1; /*если увеличится контент то все карточки растянутся*/
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.cocktail__text {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px;
    gap: 2px 5px;
}

.cocktail__title {
    grid-row: 1/3;
    font-weight: 400;
    font-size: inherit;
}

.cocktail__price {
font-weight: 600;
text-align: end;
}

.cocktail__size {
flex: 0 0 100%;
font-weight: 600;
font-size: 12px;
color: #C1C1C1;
align-self: flex-end;
text-align: end;
}

.cocktail__btn {
    margin-top: auto;
    /*если увеличится контент то */
    /*кнопка прижмется к низу*/
}

/* == footer == */

.footer {
    padding: 30px 0 32px;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo ."
    "copyright developer";
    gap: 40px;
}
.footer__logo {
    grid-area: logo;
}
.footer__copyright {
    grid-area: copyright;
}
.footer__developer {
    min-width: 230px;
    grid-area: developer;
    justify-self: end;
}
.footer__developer-item {
    margin-bottom: 10px;
}

.footer__developer-item:last-child {
    margin-bottom: 0;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 20px;
  overflow-y: auto; /*скролл для модалки*/
  display: none;
}

.modal__main {
  margin: auto;
  cursor: default;
  width: 100%;
  max-width: 780px;
}

.modal__main_order {
  max-width: 780px;
}

.order {
  border-radius: 24px;
  background-color: #f8e8e2;
  box-shadow: 0px 4px 4px 0px rbga(0, 0, 0, 0.25);
  padding: 40px 60px;
}

.order__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 40px;
}

.order__list {
  margin-bottom: 40px;
}

.order__item {
  border-top: 1px solid #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 70px 1fr min-content;
  gap: 12px;
  grid-template-areas: 
  "image info delete"
  "image info price";
}

.order__item:last-child {
  border-bottom: 1px solid #fff;
}

.order__img {
  grid-area: image;

}
.order__info {
  grid-area: info;
}
.order__name {
  font-weight: 400;
  font-size: inherit;
  margin-bottom: 8px;
}

.order__topping-list

.order__topping-item {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #d5b4a8;
}
.order__topping-item:last-child {
  margin-bottom: 0;
}

.order__item-delete {
  grid-area: delete;
  width: 24px;
  height: 24px;
  background-image: url('../img/delete.svg');
  justify-self: end;

}
.order__item-price {
  grid-area: price;
  justify-self: end;
  align-self: self-end;
}
.order__price {
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}

.order__price-title {
  font-weight: 600;
}
.order__total-price {
  font-weight: 600;
}

.order__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 20px;
}

.order__label {
  width: 100%;
}

.order__input {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  background: #fff;
  border-radius: 8px;
  border: none;
}

.order__submit {
  justify-self: end;
  grid-column: 2/3;
}

.modal__main_make {
  max-width: 640px;
}

.make {
  border-radius: 24px;
  background-color: #f8e8e2;
  box-shadow: 0px 4px 4px 0px rbga(0, 0, 0, 0.25);
  padding: 60px 40px;
}

.make__title {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 40px;
}

.make__form {
display: flex;
flex-direction: column;
}

.make__fieldset {
margin: 0;
padding: 0;
border: 0;
}

.make__fieldset_ingredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 55px;
  margin-bottom: 32px;
}

.make__wrap-add {
  margin-bottom: 40px;
  display: flex;
  gap: 55px;
}

.make__fieldset_topping {
  width: 150px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.make__fieldset_cup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.make__legend {
  color: #D5B4A8;
  margin-bottom: 24px;
  }

.make__upsale {
  color: #D5B4A8;
  font-size: 12px;
}

.make__footer {
display: flex;
align-items: center;
gap: 30px;
}

.make__add-btn {
  min-width: 232px;
}

.make__total-price {
  font-weight: 600;
}
.make__total-size {
font-size: 12px;
color: #D5B4A8;
text-align: right;
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 32px;
  line-height: 24px;
  cursor: pointer;
  }
  
  .checkbox__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  margin-left: -32px;
  }
  
  .checkbox__input:before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    border-radius: 2px;
    background-color: #fff;
  }
  
  .checkbox__input:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 15px;
    background-image: url('../img/check.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .checkbox__input:checked:after {
    opacity: 1;
  }
  
  .checkbox__input:hover:before {
    background-color: #f6f6f6;
  }

  .checkbox__input:focus:before {
    border: 1px solid #d5b4a8;
  }
  
  .checkbox__input:focus-visible {
    outline: none;
  }

.radio {
  position: relative;
  display: block;
  padding-left: 32px;
  line-height: 24px;
  cursor: pointer;
}
.radio__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  margin-left: -32px;
}

.radio__input:before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  border-radius: 50%;
  background-color: #fff;
}

.radio__input:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.radio__input:checked:after {
  opacity: 1;
}

.radio__input:hover:before {
  background-color: #f6f6f6;
}

.radio__input:focus:before {
  border: 1px solid #d5b4a8;
}

.radio__input:focus-visible {
  outline: none;
}

.decoration {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.decoration__img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.decoration__img_1 {
  background-image: url('../img/decor_1.png');
  width: 223px;
  height: 186px;
  top: 156px;
  left: -80px;
  animation: flying1 2s ease-in-out;
}

@keyframes flying1 {
  0% {
    top: 0px;
    left: -500px;
  }
  100% {
    top: 156px;
    left: -80px;
  }
}

.decoration__img_2 {
  background-image: url('../img/decor_2.png');
  width: 180px;
  height: 147px;
  top: 90px;
  right: 50px;
  animation: flying2 2s ease-in-out;
}

@keyframes flying2 {
  0% {
    top: 60px;
    right: -300px;
  }
  100% {
    top: 90px;
    right: 50px;
  }
}

.decoration__img_3 {
  background-image: url('../img/decor_3.png');
  width: 223px;
  height: 214px;
  bottom: -85px;
  right: -88px;
  animation: flying3 2s ease-in-out;
}

@keyframes flying3 {
  0% {
    bottom: -200px;
    right: -300px;
  }
  100% {
    bottom: -85px;
  right: -88px;
  }
}

.decoration__img_4 {
  background-image: url('../img/decor_4.png');
  width: 109px;
  height: 116px;
  bottom: -36px;
  left: 300px;
  animation: flying4 2s ease-in-out;
}

@keyframes flying4 {
  0% {
    bottom: -200px;
    left: -300px;
  }
  100% {
    bottom: -36px;
  left: 300px;
  }
}

.decoration__img_5 {
  background-image: url('../img/decor_5.png');
  width: 85px;
  height: 80px;
  top: 288px;
  right: -12px;
  animation: flying5 2s ease-in-out;
}

@keyframes flying5 {
  0% {
    top: 200px;
    right: -300px;
  }
  100% {
    top: 288px;
    right: -12px;
  }
}

.decoration__img_6 {
  background-image: url('../img/decor_5.png');
  width: 85px;
  height: 80px;
  top: 390px;
  left: 430px;
  animation: flying6 2s ease-in-out;
}

@keyframes flying6 {
  0% {
    top: -500px;
    left: 200px;
  }
  100% {
    top: 390px;
    left: 430px;
  }
}


@media (max-width: 1240px) {
body {
  background-image: url('../img/bg-lap.svg');
}

.container {
  --width: 880px;
}

.hero {
  padding-bottom: 30px;
}

.hero__title {
  font-size: 64px;
  max-width: 680px;
}

.hero__cups {
  padding-top: 216px;
}

.hero__cup_orange {
  margin-top: -50px;
}

.goods__list {
  grid-template-columns: repeat(3, 280px);
}

.decoration__img_1 {
  width: 131px;
  height: 125px;
  top: 156px;
  left: -20px;
}

@keyframes flying1 {
  0% {
    top: 0px;
    left: -500px;
  }
  100% {
    top: 156px;
    left: -80px;
  }
}

.decoration__img_2 {
  width: 122px;
  height: 99px;
  top: 75px;
  right: 27px;
}

@keyframes flying2 {
  0% {
    top: 60px;
    right: -300px;
  }
  100% {
    top: 75px;
  right: 27px;
  }
}

.decoration__img_3 {
  width: 131px;
  height: 125px;
  bottom: -31px;
  right: -59px;
}

@keyframes flying3 {
  0% {
    bottom: -200px;
    right: -300px;
  }
  100% {
    bottom: -31px;
  right: -59px;
  }
}

.decoration__img_4 {
  width: 70px;
  height: 61px;
  bottom: -10px;
  left: 257px;
}

@keyframes flying4 {
  0% {
    bottom: -200px;
    left: -300px;
  }
  100% {
    bottom: -10px;
    left: 257px;
  }
}

.decoration__img_5 {
  width: 54px;
  height: 50px;
  top: 200px;
  right: -12px;
}

@keyframes flying5 {
  0% {
    top: 200px;
    right: -300px;
  }
  100% {
    top: 200px;
    right: -12px;
  }
}

.decoration__img_6 {
  width: 54px;
  height: 50px;
  top: 310px;
  left: 330px;
}

@keyframes flying6 {
  0% {
    top: -500px;
    left: 200px;
  }
  100% {
    top: 310px;
    left: 330px;
  }
}

}

@media (max-width: 940px) {
  body {
    font-size: 14px;
    background-image: url('../img/bg-tablet.svg');
  }
  
  .container {
    --width: 608px;
    --pading: 15px
  }

  .btn {
    padding: 8px 20px;
    box-shadow: 0px 2px 10px 0px #fa5a5a;
  }

  .header {
    padding-top: 34px 0 24px;
  }

.header__btn-order {
  margin-right: 24px;
}

.hero {
  padding-bottom: 46px;
}

.hero__title {
  font-size: 44px;
  max-width: 468px;
}

.hero__cups {
  padding-top: 112px;
  gap: 13px;
}

.hero__cup {
  border-radius: 12px;
}

.hero__img {
  bottom: 10%;
}

.goods {
  padding-top: 40px;
  padding-bottom: 50px;
}

.goods__title {
  margin-bottom: 16px;
  font-size: 24px;
}

.goods__list {
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
}

.cocktail {
  border-radius: 12px;
  padding: 8px;
}

.cocktail__content {
  padding: 0;
}

.coctail__img {
  border-radius: 12px;
  padding-bottom: 8px;
}

.cocktail__text {
  margin-bottom: 16px;
  row-gap: 8px;
}

.cocktail__title {
  flex: 0 0 100%;
}

.cocktail__size {
  flex: auto;
  font-size: 10px;
}

.footer {
  padding-bottom: 24px;
}

.footer__container {
  gap: 24px;
}

.footer__developer-item {
  margin-bottom: 6px;
}

.decoration__img_1 {
  width: 76px;
  height: 73px;
  top: 82px;
  left: -4px;
}

@keyframes flying1 {
  0% {
    top: 0px;
    left: -500px;
  }
  100% {
    top: 82px;
    left: -4px;
  }
}

.decoration__img_2 {
  width: 72px;
  height: 58px;
  top: 50px;
  right: 60px;
}

@keyframes flying2 {
  0% {
    top: 60px;
    right: -300px;
  }
  100% {
    top: 50px;
    right: 60px;
  }
}

.decoration__img_3 {
  width: 96px;
  height: 93px;
  bottom: -39px;
  right: -8px;
}

@keyframes flying3 {
  0% {
    bottom: -200px;
    right: -300px;
  }
  100% {
    bottom: -39px;
    right: -8px;
  }
}

.decoration__img_4 {
  width: 41px;
  height: 44px;
  bottom: -13px;
  left: 195px;
}

@keyframes flying4 {
  0% {
    bottom: -200px;
    left: -300px;
  }
  100% {
    bottom: -13px;
    left: 195px;
  }
}

.decoration__img_5 {
  width: 23px;
  height: 23px;
  top: 113px;
  right: 0px;
}

@keyframes flying5 {
  0% {
    top: 200px;
    right: -300px;
  }
  100% {
    top: 113px;
  right: 0px;
  }
}

.decoration__img_6 {
  width: 23px;
  height: 23px;
  top: 158px;
  left: 241px;
}

@keyframes flying6 {
  0% {
    top: -500px;
    left: 200px;
  }
  100% {
    top: 158px;
    left: 241px;
  }
}

}

@media (max-width: 640px) {
  body {
    background-image: url('../img/bg-mobile.svg');
  }
  
  .header {
    padding: 31px 0;
  }

  .header__logo {
    width: 120px;
  }

.header__btn {
  display: none;
}

.header__btn-order {
  margin-right: 0;
}

.hero {
  padding-top: 0;
}

.hero__title {
  font-size: 36px;
}

.hero__cups {
  display: none;
}

.goods {
  padding-top: 40px;
  padding-bottom: 30px;
}

.goods__list {
  gap: 10px;
}

.footer__logo {
width: 120px;
}

.footer__container {
  grid-template-areas: 'logo' 'copyright' 'developer';
  gap: 20px;
}


.decoration__img_1 {
  width: 76px;
  height: 73px;
  top: 82px;
  left: -4px;
  animation: none;
}


.decoration__img_2 {
  width: 72px;
  height: 58px;
  top: 70px;
  right: 60px;
  animation: none;
}


.decoration__img_6 {
  top: 105px;
  animation: none;
}


.decoration__img_3, 
.decoration__img_4,
.decoration__img_5
  {
 display: none;
}

.modal {
  padding: 20px 0;
}

.modal__main_order {
  max-width: 320px;
}

.modal__main_make {
  max-width: 320px;
}

.order {
  padding: 24px 15px;
}

.order__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.order__list {
  margin-bottom: 20px;
}

.order__item {
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 8px;
}

.order__name {
  margin-bottom: 4px;
}

.order__topping-item {
  margin-bottom: 4px;
  font-size: 10px;
}

.order__price {
  margin-bottom: 20px;
}

.order__form {
  grid-template-columns: 1fr;
  gap: 0;
}

.order__label {
  margin-bottom: 8px;
}

.order__label:last-child {
  margin-bottom: 40px;
}

.order__submit {
  grid-column: auto;
}
.make {
  padding: 24px 15px;
}

.make__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.make__fieldset_ingredients {
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 15px;
  margin-bottom: 24px;
}

.make__wrap-add {
  margin-bottom: 24px;
  flex-direction: column;
  gap: 28px;
}

.make__fieldset_topping {
  width: auto;
  gap: 12px;
}

.make__fieldset_cup {
  gap: 12px;
}

.make__legend {
  margin-bottom: 12px;
}

.make__upsale {
  font-size: 10px;
}

.make__footer {
  gap: 16px;
}

.make__add-btn {
  min-width: auto;
}
}

@media (max-width: 430px) {
.decoration__img_1 {
    top: 113px;
    left: 18px;
}

.decoration__img_6 {
  left: 162px;
}
}
